version: '3.5'
services:

# Database Service (Mysql)
  db:
    image: mysql:5.7
    container_name: database
    ports:
      - "3306:3306"
    restart: always    
    environment:
      MYSQL_DATABASE: db_example
      MYSQL_USER: springuser
      MYSQL_PASSWORD: ThePassword
      MYSQL_ROOT_PASSWORD: 123456
    volumes:
      - db-data:/var/lib/mysql
    networks:
      - localhost   

# springboot
  springboot:
    image: enomoto/springdatajpa:mysql
    ports:
      - "8181:8181"
    restart: always
    depends_on: 
      - db # This service depends on mysql. Start that first.   
    networks: # Networks to join (Services on the same network can communicate with each other using their name)
      - localhost
    container_name: springdatajpa-mysql

volumes:
  db-data:

# Networks to be created to facilitate communication between containers
networks:
  localhost:

